modelSettings/sampleXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ModelInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="RiskFactor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Type" type="xs:string" />
              <xs:element name="Model">
                <xs:complexType>
                  <xs:choice maxOccurs="1">
                    <xs:element minOccurs="0" name="MJD">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="a">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="upperBound" type="xs:unsignedByte" use="required" />
                                  <xs:attribute name="lowerBound" type="xs:unsignedByte" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="G2">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="a">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="upperBound" type="xs:unsignedByte" use="required" />
                                  <xs:attribute name="lowerBound" type="xs:unsignedByte" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="ModelName" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>