modelSettings/sampleXMLType2a.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ModelInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Interest">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RiskFactor" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Type" type="xs:string" />
                    <xs:element name="Model">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="G2">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="a">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:decimal">
                                        <xs:attribute name="upperBound" type="xs:unsignedByte" use="required" />
                                        <xs:attribute name="lowerBound" type="xs:unsignedByte" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ModelName" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Equity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RiskFactor">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Type" type="xs:string" />
                    <xs:element name="Model">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MJD">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="a">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:decimal">
                                        <xs:attribute name="upperBound" type="xs:unsignedByte" use="required" />
                                        <xs:attribute name="lowerBound" type="xs:unsignedByte" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ModelName" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>